In [1]:
# QUES1
# DATABASE is an organised collection of data that it can be easily accessed and managed
# sql - structured query language , alse known as relational database management system, which have fixed and static or pre- defined schema
# nosql - not only sequel , also known as non- relational or distributed database management system, which have dynamic schema

In [3]:
'''
ques2 - DDL - data definition language is a subset of sql. It is a language fro describing data and its relationships in a database.
create table = is used to create table in the database
alter table - is used to add, delete, or modify columns in a table
drop table - is used to delete table from the database
truncate table - used to delete the data inside the table, but not the table itself
'''

'\nques2 - DDL - data definition language is a subset of sql. It is a language fro describing data and its relationships in a database.\ncreate table = is used to create table in the database\nalter table - is used to add, delete, or modify columns in a table\ndrop table - is used to delete table from the database\ntruncate table - used to delete the data inside the table, but not the table itself\n'

In [4]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Collecting prettytable
  Downloading prettytable-3.6.0-py3-none-any.whl (27 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.8-cp310-cp310-win_amd64.whl (2.0 MB)
     ---------------------------------------- 2.0/2.0 MB 938.8 kB/s eta 0:00:00
Collecting sqlparse
  Downloading sqlparse-0.4.3-py3-none-any.whl (42 kB)
     -------------------------------------- 42.8/42.8 kB 208.5 kB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: stack-data in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: backcall in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed ipython-sql-0.5.0 prettytable-3.6.0 sqlalchemy-2.0.8 sqlparse-0.4.3

In [5]:
%load_ext sql

In [6]:
%sql sqlite://

In [14]:
%%sql
CREATE TABLE people (
personID int, lastname varchar(50) , firstname varchar(50) , city varchar(30));

 * sqlite://
Done.

[]

In [15]:
%%sql
ALTER TABLE people 
ADD ph_number varchar(10);
ALTER TABLE people
DROP COLUMN city;

 * sqlite://
Done.
Done.

[]

In [20]:
%%sql
DROP TABLE people ;

 * sqlite://
Done.

[]

In [21]:
# to truncate 
# TRUNCATE TABLE people ;

In [22]:
#ques3 DML - DATA MANUPULATION LANGUAGE , refers to computer language that allows you to INSERT, DELETE , UPDATE in a database.
'''
update - to insert data into rows of the table
insert - used to update single and multiple columns on the basis of our specific needs
delete - used to delete various records from a given table
'''

'\nupdate - to insert data into rows of the table\ninsert - used to update single and multiple columns on the basis of our specific needs\ndelete - used to delete various records from a given table\n'

In [27]:
'''
CREATE TABLE student;
INSERT INTO student(
personID int, lastname varchar(50) , firstname varchar(50) , city varchar(30))
VALUES (101 , RAI ,ANJALI , KOLKATA);



'''

'\nCREATE TABLE student;\nINSERT INTO student(\npersonID int, lastname varchar(50) , firstname varchar(50) , city varchar(30))\nVALUES (101 , RAI ,ANJALI , KOLKATA);\n\n\n\n'

In [ ]:
'''
UPDATE TABLE student
SET lastname = singh where personID i= 101 ;

'''

In [ ]:
'''
DELETE FROM student where personID = 101;
'''

In [ ]:
'''
ques5
DQL - Data query language,  DQL is a portion of a SQL statement that allows you to get and organise data from a database. 
Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins.
example-
select * from students where personID= 101
'''

In [ ]:
'''
ques6
A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. 
'''

In [ ]:
'''
ques7
import mysql.connector
mydb = mysql.connector.connect(
host = "localhost" ,
user = "abc" ,
password = "password")

print(mydb)
mycursor.mydb.cursor()
mycursor.execute("command")

'''

In [ ]:
#A cursor is an object which helps to execute the query and fetch the records from the database. 
#The execute () method helps us to execute the query and return records according to the query.

In [ ]:
'''
ques8
from / join
where
group by 
having
order by
limit
'''